.btn {
    background: #8F64E1;
    padding: 17px 70px;
    min-width: 233.93px;
    height: 57.58px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 34px;
    display: flex;
    gap: 7px;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px
  }
  
  .btn:disabled {
    background: #b0a7e5;
    cursor: not-allowed;
    opacity: 0.6;
  }