.page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.container > h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 77px;
    margin-bottom: 45px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.bold {
    font-weight: 600;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.question > h2{
    font-size: 22px;
    font-weight: 600;
}